.background {
    background-color: #212121
}

/*Text Color*/
.text {
    color: #14FFEC
}

.button {
    background: #0D7377;
    border-color: #14FFEC;
    color: white
}

.homeImage {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 47%;
}

.auBox {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.gitImage {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 47%;
}